/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.container {
  width: 1440px;
  padding: 36px 156px;
  margin-right: auto;
  margin-left: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
  outline: transparent;
  border: 1px solid #808080;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

input:hover {
  border: 1px solid #000;
}

input:focus{
  border: 1px solid #4e75ff;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.more-img-btn {
  width: 125px;
  margin-left: 501px;
}

button:hover {
  background-color: #6c8cff;
}

.loader-container{
  display: flex;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #FF3D00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-item {
  position: relative;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.gallery-img {
  width: 360px;
  height: 198px;
}

.info {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  display: flex;
  height: 48px;
  width: 100%;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 24px;
}

.value {
  margin: 0 auto;
  line-height: 2;
  font-weight: 400;
}

.hidden {
  display: none;
}